<div class="row">
	<div class="page-header">
		<h1>Lista de Tarefas</h1>
	</div>
</div>

<div class="row">
	<table id="lista-tarefas" class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Descrição</th>
				<th>Status</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in itens">
				<td>{{ item.id }}</td>
				<td><strong>{{ item.descricao }}</strong></td>
				<td>{{ item.status }}</td>
				<td>
					<form method="post">
						<button class="btn btn-primary" 
							ng-click="iniciarTarefa(item, $index)"
							ng-show="item.status=='PENDENTE'">
					 		<span class="glyphicon glyphicon-play"></span>
						</button>
						<button class="btn btn-warning" 	
							ng-click="pausarTarefa(item, $index)"
							ng-show="item.status=='EM_EXECUCAO'">
					 		<span class="glyphicon glyphicon-pause"></span>
						</button>
						<button class="btn btn-success" 
							ng-click="terminarTarefa(item, $index)"
							ng-show="item.status=='EM_EXECUCAO'">
					 		<span class="glyphicon glyphicon-check"></span>
						</button>
						<button class="btn btn-danger" 
							ng-click="apagarTarefa(item, $index)">
					 		<span class="glyphicon glyphicon-remove"></span>
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>	
</div>

<div class="alert alert-danger" 
	ng-show="controller.error">{{controller.errorMessage}}
	</div>
	
<div class="row">
	<h3>Adicionar Tarefa</h3>
</div>
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<form method="post" name="formTarefa" novalidate>
			<div class="form-group ">
				<label class="control-label requiredField" 
				for="desc">
					Descrição 
					<span class="asteriskField"> * </span>
				</label> 
				<input class="form-control" name="desc" 
				ng-model="item.descricao" type="text" required/>
				<p ng-show="formTarefa.desc.$invalid && 
				!formTarefa.desc.$pristine" class="help-block">
				Este campo é obrigatorio.</p>
				
			</div>
			<div class="form-group ">
				<label class="control-label" for="status"> 
				Status </label> 
				<select 	class="select form-control" 
					ng-model="item.status"
					id="status" name="status" required>
					<option value="PENDENTE" selected>Pendente</option>
					<option value="EM_EXECUCAO">Em execução</option>
					<option value="CONCLUIDA">Concluída</option>
				</select>
				<p ng-show="formTarefa.status.$invalid 
					&& !userForm.status.$pristine" 
					class="help-block">Favor selecionar o Status.</p>
				
			</div>
			<div class="form-group">
				<div>
					<button class="btn btn-primary" 
					ng-disabled="formTarefa.$invalid"
					ng-click="adicionaItem(formTarefa.$valid)">
					Adicionar</button>
				</div>
			</div>
		</form>
	</div>
</div>